@font-face {
	font-family: "VAG Rounded Next";
	src: url("/VAG Rounded Next/VAG Rounded Next ExtraBlack.ttf")
		format("truetype");
	font-weight: 950;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: transparent;
	font-family: "VAG Rounded Next";
}
